#game {
    height: 100%;
    width: 100%;
}

#gameSpace {
    border-style: solid;
    border-width: 1px;
    top: 0px;
    position: absolute;
    height: 80%;
    width: 100%;
}

#playerStats {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#player1 {
    width: 50%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    background-color: #0D7AFF;
    float: left;
}

#player2 {
    width: 50%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    background-color: #FF0000;
    float: left;
}
h2 {
    align-content: center;
}

h5, a {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-left: 5px;
}

#errorMessage {
    color: #FF0000;
}

/* Full-width input fields */
input[type=text] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 85%;
	font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}